.ui.top.fixed.inverted.menu
    .ui.container
        .item
            p Node-Starter
        .right.menu
            a.item
                i.cog.icon

.ui.container(style="margin-top: 100px;")
    .ui.segment
        .ui.message Hello World!